// Ournet v2.0 300x250
ins.adsbygoogle(style='display:inline-block;width:300px;height:250px', data-ad-client='ca-pub-3959589883092051', data-ad-slot='9372961467')
script.
  (adsbygoogle = window.adsbygoogle || []).push({});