// Ournet 150x
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='4687909432', data-ad-format='auto')
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
