.container
  .row
    //- left content
    .col-md-2.hidden-sm.hidden-xs
      .grid-control
        .grid-header
          h4= __('ads')
        .grid-content
          include ads_150

    //- center content
    .col-md-6.col-sm-8
      .grid-control
        .grid-header
          h2= oneList.title
        .grid-content
          +newsSimpleView(oneList.list, oneList.isStory)
    //- right content
    .col-md-4.col-sm-4
      .grid-control.view-ads
        .grid-content
          include ads_300

      .grid-control.view-ads
        .grid-content
          include ads_300

